if has guix
then
    use guix mandoc cmark-gfm
else
    path_add PERL5LIB "$HOME/src/po4a/lib"
    PATH_add "$HOME/src/po4a"
    path_add C_INCLUDE_PATH /usr/local/include
    path_add LD_LIBRARY_PATH /usr/local/lib
    path_add LIBRARY_PATH /usr/local/lib
    layout perl
    cpanm --notest YAML::Tiny Syntax::Keyword::Try CommonMark
fi
